<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
>
  <head>
    <title>InvenTrack</title>
  </head>

  <body>
	<div class="card shadow mb-4">

		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">削除(在庫センター情報)</h6>
		</div>

		<div class="card-body">
 			
			<!-- 在庫センター情報登録単票 -->
				
			
				<form class="form-inline" method="post" th:action="@{'/admin/centerInfo/update/deleted'}" th:object="${CenterInfoForm}">
					
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					
					<tr>
						<td>
							<label for="searchTerm" class="mr-2">在庫センターID *(必須)</label>
						</td>
							<td> [[${CenterInfo.centerId}]] </td>
						<td>
 							
 						</td>
 					</tr>
 					
 					<tr>
						 <td>
 							<label for="searchTerm" class="mr-2">在庫センター名 *</label>
 						</td>
 						
 						<td>
							 <td> [[${CenterInfo.centerName}]] </td>
						</td>
					</tr>	
						 
						 
					<tr>
						 <td>	 
							<label for="searchTerm" class="mr-2">郵便番号 *</label>
 						</td>
 						
 						<td>
							 <td> [[${CenterInfo.postCode}]] </td>
 						</td>
					</tr>
 					
 					
 					<tr>
						<td>
							<label for="searchTerm" class="mr-2">住所 *</label>
 						</td>
 						
 						<td>
							 <td> [[${CenterInfo.address}]] </td>
						</td>
					</tr>
 										
 					<tr>
						<td>
							<label for="searchTerm" class="mr-2">電話番号 *</label>
						</td>
 						
 						<td>
							 <td> [[${CenterInfo.phoneNumber}]] </td>
						</td>
					</tr>
 					
 					
 					<tr>
						 <td>
							<label for="searchTerm" class="mr-2">管理者名 *</label>
						</td>
 						
 						<td>
							 <td> [[${CenterInfo.manageName}]] </td>
						</td>
					</tr>
 					
 					
 					<tr>
						 <td>
							<label for="searchTerm" class="mr-2">稼働ステータス *</label>
						</td>
 						
 						<td>
							<td> [[${CenterInfo.operationalStatus}]] </td>					
						</td>
					</tr>
 					
 					<tr>
						 <td> 	
							<label for="searchTerm" class="mr-2">最大容量(m<sup>3</sup>) *</label>
 						</td>
 						
 						<td> 					
							 <td> [[${CenterInfo.maxStorageCapacity}]] </td>
		            	</td>
					</tr>
 										
 					<tr>
						 <td> 						
							<label for="searchTerm" class="mr-2">現在容量(m<sup>3</sup>) *</label>
 					 	 </td>
 						
 						 <td> 
							<td> [[${CenterInfo.currentStorageCapacity}]] </td>
						 </td>
					</tr>
					
					
					<tr>
						 <td> 
							<label for="searchTerm" class="mr-2">備考</label>
						 </td>
 						
 						 <td> 
							<td> [[${CenterInfo.notes}]] </td>
						 </td>
					</tr>

					</table>
					
					<button type="submit" class="btn btn-primary">削除</button>
					
					&ensp;&ensp;
					
 				</form>
			<br>
				<a href="/admin/centerInfo" class="btn">キャンセル</a>		

	</div>
  </body>
</html>
