<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout/template :: layout(~{::title},~{::body/content()})}"
>
  <head>
    <title>InvenTrack</title>
  </head>

  <body>
	<div class="card shadow mb-4">

		<div class="card-header py-3">
			<h6 class="m-0 font-weight-bold text-primary">登録・更新(在庫センター情報)</h6>
		</div>

		<div class="card-body">
 			
			<!-- 在庫センター情報登録単票 -->
				
				<!-- エラーメッセージの表示 -->
 				<div th:if="${errorMsg != null}" class="text-danger">
					 <p th:text="${errorMsg}"></p>
				</div>
			
				<form class="form-inline" method="post" th:action="@{'/admin/centerInfo/register/after'}" th:object="${CenterInfoForm}">
					
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
					
					<tr>
						<td>
							<label for="searchTerm" class="mr-2">在庫センターID *(必須)</label>
						</td>
						
						<td>
 							自動連番
 						</td>
 					</tr>
 					
 					<tr>
						 <td>
 							<label for="searchTerm" class="mr-2">在庫センター名 *</label>
 						</td>
 						
 						<td>
 							<input type="text" id="searchTerm" name="centerName" class="form-control mr-2" th:value="${CenterInfoForm.centerName}">
						</td>
					</tr>	
						 
						 
					<tr>
						 <td>	 
							<label for="searchTerm" class="mr-2">郵便番号 *</label>
 						</td>
 						
 						<td>
 							<input type="text" id="searchTerm" name="postCode" class="form-control mr-2" th:value="${CenterInfoForm.postCode}">
 						</td>
					</tr>
 					
 					
 					<tr>
						<td>
							<label for="searchTerm" class="mr-2">住所 *</label>
 						</td>
 						
 						<td>
 							<input type="text" id="searchTerm" name="address" class="form-control mr-2" th:value="${CenterInfoForm.address}">
						</td>
					</tr>
 										
 					<tr>
						<td>
							<label for="searchTerm" class="mr-2">電話番号 *</label>
						</td>
 						
 						<td>
 							<input type="text" id="searchTerm" name="phoneNumber" class="form-control mr-2" th:value="${CenterInfoForm.phoneNumber}">
						</td>
					</tr>
 					
 					
 					<tr>
						 <td>
							<label for="searchTerm" class="mr-2">管理者名 *</label>
						</td>
 						
 						<td>
 							<input type="text" id="searchTerm" name="managerName" class="form-control mr-2" th:value="${CenterInfoForm.managerName}">
						</td>
					</tr>
 					
 					
 					<tr>
						 <td>
							<label for="searchTerm" class="mr-2">稼働ステータス *</label>
						</td>
 						
 						<td>					
 							<input type="radio" name="operationalStatus" value="0">
		            		稼働中
		            		<input type="radio" name="operationalStatus" value="1">
		            		休止中
						</td>
					</tr>
 					
 					<tr>
						 <td> 	
							<label for="searchTerm" class="mr-2">最大容量(m<sup>3</sup>) *</label>
 						</td>
 						
 						<td> 					
 							<input type="number" id="searchTerm" name="maxStorageCapacity" class="form-control mr-2" th:value="${CenterInfoForm.maxStorageCapacity}">
		            	</td>
					</tr>
 										
 					<tr>
						 <td> 						
							<label for="searchTerm" class="mr-2">現在容量(m<sup>3</sup>) *</label>
 					 	 </td>
 						
 						 <td> 
 							<input type="number" id="searchTerm" name="currentStorageCapacity" class="form-control mr-2" th:value="${CenterInfoForm.currentStorageCapacity}">
						 </td>
					</tr>
					
					
					<tr>
						 <td> 
							<label for="searchTerm" class="mr-2">備考</label>
						 </td>
 						
 						 <td> 
 							<input type="text" id="searchTerm" name="notes" class="form-control mr-2" th:value="${CenterInfoForm.notes}">
						 </td>
					</tr>

					</table>
					
					<button type="submit" class="btn btn-primary">登録</button>
 				</form>
			<br>
				<a href="/admin/centerInfo" class="btn btn-secondary">キャンセル</a>		

	</div>
  </body>
</html>
